<head>
  <title>{{.Page.Title}} {{.Site.Title}} {{.Site.Params.subtitle}}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{.Page.Params.params.metaDesc}}" />
  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="{{ .Permalink }}" />

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Erva Kambo - Psicologa" />
  <meta itemprop="description" content="{{.Page.Params.params.metaDesc}}" />
  <meta itemprop="image" content="{{ "img/profile.jpg" | absURL}}" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://ervakambo.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Erva Kambo - Psicologa" />
  <meta property="og:description" content="{{.Page.Params.params.metaDesc}}" />
  <meta property="og:image" content="{{ "img/profile.jpg" | absURL}}" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Erva Kambo - Psicologa" />
  <meta name="twitter:description" content="{{.Page.Params.params.metaDesc}}" />
  <meta name="twitter:image" content="{{ "img/profile.jpg" | absURL}}" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="theme-color" content="#1A94D2" />

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed")
  }} {{ $style := resources.Get "/scss/main.scss" | toCSS $options | minify}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

  <!-- 
        include a favicon for your site if you have it, else omit the line below 
        Location of favicon can be in mytheme/static/favicon.ico
    -->
  <link rel="shortcut icon" type="image/x-icon" href="{{"img/favicon.ico" |
  absURL}}" />
</head>
