<!-- Navigation-->
<header class="shadow-sm sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container px-5">
      <a class="navbar-brand" href="{{ absLangURL "" }}"
        ><!-- <span><img class="img-fluid logo mx-2" src="/logo.svg" alt="" /></span> -->
        <span class="fw-bolder"
          >{{ .Site.Title}} <br />
          <span class="fw-light text-muted"
            >{{ .Site.Params.subtitle}}</span
          ></span
        >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav align-items-center ms-auto mb-2 mb-lg-0 fw-bolder"
        >
          {{- range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{.Name}}</a>
          </li>
          {{ end }}
          <li class="vr ms-1 d-none d-lg-block"></li>
          {{ if .Site.IsMultiLingual}}
          <li class="mt-2 m-lg-0 nav-item">
            <div
              class="d-flex flex-row justify-content-center align-items-center"
            >
              {{ range $.Site.Languages}}
              <!-- concatenating more strings to have the correct path for language flags -->
              {{ $langFlagPath := printf "%s" ".svg" | printf "%s%s" . | printf
              "%s%s" "img/flags/" | printf "%s" }}
              <!--  -->
              <a
                class="d-flex align-items-center"
                href="{{ $.Site.BaseURL }}{{.}}/{{$.Page.Slug}} "
              >
                <img
                  src="{{$langFlagPath | absURL}}"
                  class="language-flag shadow-sm"
                  alt=""
                />
                {{end }}
              </a>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
